@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f1f1f1;
    scroll-behavior: smooth;
}


html, body {
  width: 100%; 
  max-width: 100%; 
}


::-webkit-scrollbar {
    width: 6px; 
    height: 6px; 
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px; 
    transition: background-color 0.3s ease-in-out; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}






@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.95); 
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  

  @keyframes draw {
    0% {
      stroke-dashoffset: 500;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  .animate-visible {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }
  
  .animate-fade-in {
    animation: fadeIn 1s ease-out forwards;
  }
  
  .animate-draw {
    animation: draw 1.5s ease-in-out forwards;
    stroke-dasharray: 500;
    stroke-dashoffset: 500; 
    transition: stroke-dashoffset 1.5s ease-in-out; 
  }
  

  .animate-draw:nth-child(1) {
    animation-delay: 0s;
  }
  
  .animate-draw:nth-child(2) {
    animation-delay: 1s; 
  }
  
  .animate-draw:nth-child(3) {
    animation-delay: 2s; 
  }



.search-modal {
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
