@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Integral CF";
  src: url("/fonts/integral.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Regular.woff2") format("opentype");
 font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Regular.woff2") format("opentype");
  font-weight: bold;
  font-style: normal;
}
